/* Base styles and custom scrollbar adjustments */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #334155;
  background-color: #ffffff;
}

/* Modal Transition */
#prospectusModal {
  transition: opacity 0.3s ease-in-out;
}

/* Rotate transform utility for FAQ icons */
.rotate-180 {
  transform: rotate(180deg);
}

/* Custom focus states */
input:focus, select:focus {
  border-color: #10B981 !important;
  ring: 2px #10B981;
}
